<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>aNew form</title>-->
<!--  <style type="text/css">-->
<!--    label{ width:100px;-->
<!--      display:inline-block;}-->

<!--      #form {border-radius:5px;-->
<!--        background-color:#DCDCDC;-->

<!--        }-->
<!--  </style>-->
<!--</head>-->
<!--<body style="background-color:#FFFAFA;">-->
<!--<form method="post" action="">-->

<!--<div id="form">-->
<!--  <h1>New Form</h1>-->

<!--  <label>Name</label>-->
<!--  <input type="text" name="Name"><br>-->
<!--  <label>Date of birth</label>-->
<!--  <input type="date" name="Date of birth"><br>-->
<!--  <label>Age</label>-->
<!--  <input type="text" name="Age" ><br>-->
<!--  <label>ph no</label>-->
<!--  <input type="number" name="ph no"><br>-->
<!--  <label>Gender</label>-->
<!--  <label>Male</label>-->
<!--  <input type="radio">-->
<!--  <label>Female</label>-->
<!--  <input type="radio"><br>-->
<!--  <label>email</label>-->
<!--  <input type="email" name="email"><br>-->
<!--  <label>Address</label>-->
<!--  <input type="text" name="address"><br><br>-->
<!--  <label>Department</label>-->
<!--  <input type="time"><br><br>-->
<!--  <label>Material</label>-->
<!--  <label> material1</label>-->
<!--  <input type="checkbox" name="material1">-->
<!--  <label> material2</label>-->
<!--  <input type="checkbox" name="material2">-->
<!--  <label> material3</label>-->
<!--  <input type="checkbox" name="material3"><br><br><br>-->

<!--  <button type="button" ><a href="" submit></a></button><br><br><br>-->
<!--  <button type="button" > logout</button><br><br><br>-->


<!--<input type="checkbox">-->
<!--  <div>I solemnly declare the information mentioned herein is true and correct to the best of my beliefs.-->
<!--    All the details provided above are genuine to the best of my belief and knowledge.-->
<!--    I hereby declare that the above particulars of facts and information stated are correct to the best of my belief and knowledge</div>-->
<!--<br>-->
<!--  <br>-->
<!--</div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->